* {
    margin: 0; /*setting margin to 0, to reset the default page styling*/
    padding: 0; /*setting padding to 0 to reset the default page styling*/
    outline: 0; /*setting outline to 0 to reset the default page styling*/
    border: 0; /*setting border to 0 to reset the default page styling*/
    box-sizing: border-box; /*setting box-sizing, so we dont need to manually count this*/
}

html {
    font-size: 16px; /*setting page font size to 16px*/
}

body {
    font-size: 1rem; /*making 16px font-size equivalent to 1 rem*/
    line-height: 1; /*setting line height to 1*/
    font-family: 'Roboto', sans-serif; /*setting the font family for the website*/
    background: #F9F9F9; /*setting background colour for the website*/
    color: #000000;
}

a {
    text-decoration: none; /*removing the text decoration for links (i.e. underline)*/
}

ul, ol {
    list-style: none; /*removing list styling (bullets) for the lists*/
}

.nav {
    display: flex;
    padding-top: 79px;
    margin-left: 399px; 
    line-height: 26px;
    letter-spacing: 0.1em;
}

.nav__link {
    padding-right: 42px;
    color: #000000;
}

.nav__link:hover {
    color: #34547A;
    font-weight: 500;
    cursor: pointer;
}

.nav__link:active {
    color: #34547A;
    font-weight: 500;
}

.header {
    background-color: #EEEFF1;
}

.banner__title {
    margin-left: 399px;
    padding-top: 257px;
    font-weight: 500;
    font-size: 48px;
    line-height: 79px; 
    padding-bottom: 60px; 
}

.banner__text {
    margin-left: 400px;
    width: 540px;
    padding-bottom: 65px;
}

p[class$="text"] {
    line-height: 26px;
    color: #727272; 
    width: 540px;
}

.button {
    width: 225px;
    margin-left: 399px;
    text-align: center;
    padding: 19px 41px 20px;
    margin-bottom: 141px;
    color: #FFFFFF;
    background-color: #34547A;
}

.button:hover {
    text-decoration: underline;
    background-color: #5f85b3;
}

.section__items, .product__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2[class$="title"] {
    line-height: 37.5px;
    font-weight: 500;
    width: 403px;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    padding-bottom: 50px;
}

.section__title {
    margin-top: 112px;
}

.section__text {
    text-align: center;
    padding-bottom: 100px;
}

.section__divider, .divider__content, .divider__subcontent {
    display: flex; 
    justify-content: space-evenly;
}

.section__divider {
    background: #34547A;
    padding: 100px 0;
    margin-bottom: 100px;
}

.divider__subcontent {
    flex-direction: column;
}

h3[class$="subtitle"] {
    padding-bottom: 10px; 
    margin-left: 20px;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF
}

p[class$="item"] {
    margin-left: 20px;
    line-height: 26px;
    color: #FFFFFF
}






