* {
    margin: 0; /*setting margin to 0, to reset the default page styling*/
    padding: 0; /*setting padding to 0 to reset the default page styling*/
    outline: 0; /*setting outline to 0 to reset the default page styling*/
    border: 0; /*setting border to 0 to reset the default page styling*/
    box-sizing: border-box; /*setting box-sizing, so we dont need to manually count this*/
}

html {
    font-size: 16px; /*setting page font size to 16px*/
}

body {
    font-size: 1rem; /*making 16px font-size equivalent to 1 rem*/
    font-family: 'Roboto', sans-serif; /*setting the font family for the website*/
    background: #F9F9F9; /*setting background colour for the website*/
    color: #000000; /*setting the font colour*/
}

a {
    text-decoration: none; /*removing the text decoration for links (i.e. underline)*/
}

ul, ol {
    list-style: none; /*removing list styling (bullets) for the lists*/
}

.header, .nav {
    display: flex; /*setting flex for the header and nav*/
}

.header {
    flex-direction: column; /*setting flex direction for the header*/
    padding: 4% 0 0 21%; /*setting the padding*/
    background-color: #EEEFF1; /*setting background colour for the header (different from website background)*/
}

.nav {
    padding-bottom: 10%; /*setting the padding*/
    line-height: 26px; /*setting the line height for the nav*/
    letter-spacing: 0.1em; /*setting the letter spacing for the nav*/
}

.nav__link {
    padding-right: 42px; /*setting the padding. This measurement I could not convert to %*/
    color: #000000; /*setting the color for the nav links*/
}

.nav__link:hover {
    color: #34547A; /*setting the color for the nav links while hovering*/
    font-weight: 500; /*setting the font weight for the nav links while hovering*/
    cursor: pointer; /*changing cursor to pointer*/
}

.banner__title, .banner__text {
    padding-bottom: 3%; /*setting padding the padding for banner title and banner text*/
}

.banner__title {
    width: 30%; /*setting the width*/
    font-weight: 500; /*setting the font weight for banner title*/
    font-size: 3rem; /*setting the font size for banner title*/
    line-height: 79px; /*setting the line height*/
}

p[class$="text"] {
    width: 30%; /*setting the width for p class text*/
    line-height: 26px; /*setting the line height for p class text*/
    color: #727272; /*setting the font color for p class text*/
}

.button {
    width: 13%; /*setting the width for the button*/
    margin-bottom: 9%; /*setting the margin*/
    padding: 19px 41px 20px; /*setting the padding for the button*/
    text-align: center; /*aligning text in the center*/
    color: #FFFFFF; /*setting the colour for button font*/
    background-color: #34547A; /*setting background colour for the button*/
}

.button:hover {
    text-decoration: underline; /*setting text decoration for button while hovering*/
    background-color: #5f85b3; /*setting background color for the button while hovering*/
    cursor: pointer; /*setting the cursor to pointer for hover*/
}

.section__items, .product__content {
    display: flex; /*setting display flex for section item and product content*/
    flex-direction: column; /*setting flex direction column*/
    align-items: center; /*aligning items in the center*/
}

h2[class$="title"] {
    width: 21%; /*setting the width for h2*/
    text-align: center; /*align center for h2 class*/
    padding-bottom: 3%; /*setting the padding for h2 class*/
    line-height: 38px; /*setting the line height*/
    font-weight: 500; /*setting font weight for h2 class*/
    font-size: 2rem; /*setting the font size for h2*/
}

.section__title {
    padding-top: 6%; /*setting padding*/
}

.section__text {
    padding-bottom: 5%; /*setting the padding*/
    text-align: center; /*aligning the section text in the center*/
}

.section__divider, .divider__content, .divider__subcontent {
    display: flex; /*setting display flex*/
    justify-content: center; /*making sure the content is positioned in the center*/
}

.divider__content {
    padding: 0 3%; /*setting padding for the divider content*/
}

.divider__content:hover {
    scale: 1.2; /* adding scale for the hover to make the website more interactive*/
}

.section__divider, .footer, .footer__content, h3[class$="subtitle"], p[class$="item"] {
    background: #34547A; /*setting the background*/
    color: #FFFFFF; /*setting the font colour*/
}

.section__divider {
    padding: 5% 0; /*setting the padding*/
}

.divider__subcontent {
    flex-direction: column; /*setting flex direction for the divider subconent*/
}

h3[class$="subtitle"] {
    padding: 0 0 8% 22%; /*setting the padding for h3 class*/
    font-weight: 500; /*setting font weight for h3 class*/
    font-size: 1.3rem; /*setting the font size for the h3 class*/
    line-height: 25px; /*setting the line height*/
}

p[class$="item"] {
    padding-left: 22%; /*setting the padding for p class item*/
    line-height: 26px; /*setting the line height for p class item*/
}

.product {
    padding-top: 5%; /*setting the padding*/ 
    background: #EEEFF1; /*setting the background colour for product section*/
}

.product__text {
    padding-bottom: 3%; /*setting the padding*/
    text-align: center; /*setting the text align for product text*/
}

.product__video {
    width: 58%; /*setting the width for the video*/
    height: 60vh; /*setting the height for the video*/
    padding-bottom: 5%; /*setting the padding*/
}

.footer, .footer__content {
    display: flex; /*setting display flex for the footer*/
}

.footer__content {
    flex-direction: column; /*setting flex direction for footer content*/
    padding-left: 21%; /*setting the padding*/
}

.footer__title {
    padding: 30% 0 10% 0; /*setting the padding*/
}

.footer__subcontent {
    padding-bottom: 30%; /*setting the padding*/
    font-size: 0.8rem; /*setting the font size*/
    line-height: 21px; /*setting the line height*/
}



